/* --------------------------------- GENERAL STYLES ---------------------------- */

/* Show it is fixed to the top */
html {
  background-color: rgba(0,0,0,.2);
}
body {
  max-width: 1500px;
  padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,.);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 117px 22px 19px;
}

/* --------------------------------- HELPERS ---------------------------------- */
.section{
  padding-top: 90px;
  padding-bottom: 90px;
}
.inline-block {
  display: inline-block;
}
.pt-95 {
  padding-top: 95px;
}
.mt-10 {
  margin-top: 10vh;
}
.mb-75 {
  margin-bottom: 75px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.gray-fade-background {
  background-color: rgba(35,35,35,0.7);
  line-height: 145%;
}
.gray-light-background {
  background-color: #eaeaea;
}
.color-white {
  color: #fff;
}
a.color-white:hover {
  color: #fff;
}
.color-gray {
  color: #6e6e6e;
}
.color-red{
  color: #B83425;
}
.back-color-gray {
  background-color: : #6e6e6e;
}
.back-color-red{
  background-color: #B83425;
}
a.back-color-red:hover {
  background-color: #93261a;
}
.font-20 {
  font-size: 20px;
}
.font-21 {
  font-size: 21px;
}
.uppercase {
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .mt-6-under-991 {
    margin-top: 50px;
  }
}
/* --------------------------------- NAVBAR STYLES ---------------------------- */
.navbar {
  background-color: #FFF;
  height: 90px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -12px 22px 19px;
}
.navbar-nav.ml-auto {
  margin-right: 40px;
  margin-top: 18px;
}
.nav-link {
  color: rgba(184, 52, 37, .9) !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.nav-item.active .nav-link {
  font-weight: 600;
  color: rgba(184, 52, 37, 1) !important;
  border-bottom: 2px solid rgba(184, 52, 37, .9);
}
.nav-link:hover {
  color: rgba(184, 52, 37, 1) !important;
  border-bottom: 2px solid rgba(184, 52, 37, .9);
}

#contact-top {
  z-index: 9999;
  position: fixed;
  top: -3px;
  right: 5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(184, 52, 37, 1);
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
}
#contact-top a {
  font-size: 11px;
  color: #FFF;
}
#contact-top a:hover {
  color: #ffeeed;
  text-decoration: none;
}
@media (max-width: 840px) {
  .navbar-nav.ml-auto {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  #navbarCollapse {
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    width: 150px !important;
  }
  .navbar-nav.ml-auto {
    margin-right: 0px;
    margin-top: 0px;
  }
  .nav-item {
    height: 33px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  .nav-item.active {
    background-color: rgba(0,0,0,.02);
  }
  .nav-item.active .nav-link {
    border-bottom: none;
  }
  .nav-item:hover {
    background-color: rgba(0,0,0,.02);
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  .nav-link {
    padding-top: 5px !important;
  }
  .nav-link:hover {
    border-bottom: none;
  }
  #contact-top {
    top: -5px;
    right: auto;
    left: 50%;
    margin-left: -130.5px;
  }
}

/* --------------------------------- END OF NAVBAR STYLES ---------------------------- */

/* --------------------------------- HERO SECTION STYLES ---------------------------- */

.jumbotron {
  background-image: url('../imgs/hero.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 85vh;
  color: #FFF;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .jumbotron .display-4{
    font-size: 45px;
  }
}

/* -------------------------------- END OF HERO SECTION STYLES --------------------------- */

/* ---------------------------------  ---------------------------- */

.cence-02 {
  background-image: url('../imgs/cence02.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 600px;
}
.cence-03 {
  background-image: url('../imgs/cence03.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 600px;
}
.chucas-10 {
  background-image: url('../imgs/chucas10.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  min-height: 600px;
}
.country-day01 {
  background-image: url('../imgs/country_day01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.compromiso-text {
  line-height: 65px;
}

.contact-line {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 30px;
}
.contact-line:hover {
  text-decoration: none;
  color: #3e3e3e;
}
.form-control::placeholder {
  color: #aaaaaa;
}
